# OS
.DS_Store
**/.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.*

# Python
**.py
**.sh
__pycache__/
*.pyc
*.pyo

# Node.js / TypeScript
node_modules/
build/
dist/
*.js.map
*.d.ts.map
